# Core Libraries
streamlit
langchain
langchain-core
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-community
langchain-huggingface
langchain-groq

# LLM Providers
openai
google-generativeai

# HuggingFace
transformers
huggingface-hub

# Utilities
python-dotenv
numpy
scikit-learn
pypdf
